.cats p {
    background-color: coral;
  }
  .dogs p {
    background-color: steelblue;
  }
  .cats p a {
    font-weight: bold;
  }
  .dogs p a {
    font-style: italic;
  }
  .dogs p a {
    font-weight: bold;
  }
  a {
    font-weight: normal;
  }